.spinner{
  margin: 0 auto;
}
@keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .lds-double-ring {
    position: relative;
  }
  .lds-double-ring div {
    box-sizing: border-box;
  }
  .lds-double-ring > div {
    position: absolute;
    width: 172px;
    height: 172px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 12px solid #000;
    border-color: #d18383 transparent #d18383 transparent;
    -webkit-animation: lds-double-ring 3.2s linear infinite;
    animation: lds-double-ring 3.2s linear infinite;
  }
  .lds-double-ring > div:nth-child(2),
  .lds-double-ring > div:nth-child(4) {
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    -webkit-animation: lds-double-ring_reverse 3.2s linear infinite;
    animation: lds-double-ring_reverse 3.2s linear infinite;
  }
  .lds-double-ring > div:nth-child(2) {
    border-color: transparent #535e66 transparent #535e66;
  }
  .lds-double-ring > div:nth-child(3) {
    border-color: transparent;
  }
  .lds-double-ring > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .lds-double-ring > div:nth-child(3) div:before,
  .lds-double-ring > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: -12px;
    left: 68px;
    background: #d18383;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #d18383;
  }
  .lds-double-ring > div:nth-child(3) div:after {
    left: -12px;
    top: 68px;
    box-shadow: 160px 0 0 0 #d18383;
  }
  .lds-double-ring > div:nth-child(4) {
    border-color: transparent;
  }
  .lds-double-ring > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .lds-double-ring > div:nth-child(4) div:before,
  .lds-double-ring > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: -12px;
    left: 54px;
    background: #535e66;
    border-radius: 50%;
    box-shadow: 0 132px 0 0 #535e66;
  }
  .lds-double-ring > div:nth-child(4) div:after {
    left: -12px;
    top: 54px;
    box-shadow: 132px 0 0 0 #535e66;
  }
  .lds-double-ring {
    width: 82px !important;
    height: 82px !important;
    -webkit-transform: translate(-41px, -41px) scale(0.41) translate(41px, 41px);
    transform: translate(-41px, -41px) scale(0.41) translate(41px, 41px);
  }
  