.random-planet{
    margin: 10px auto;
    display: flex;
    padding: 20px;
    background-color: rgb(63, 58, 58);
    border: 1px solid rgb(90, 88, 88);
    border-radius: 50px;
}
.planet-name{
    margin-bottom: 25px;
    margin-left: 20px;

}

.plaanet-img{
    height: 200px;
    width: 200px;
    border:1px solid rgb(250, 243, 243);
    border-radius:10px
}
.list-group-item{
    border-left: none;
    border-right: none;
}
.list-group-fllush{
    margin-left: 40px;
}
.jambotron{
    padding-top: -20px;
}